* {
    margin: 0px;
    padding: 0px;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style are here */
body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
main section{
    margin-bottom: 100px;
}
.display-flex {
    display: flex;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.primary-button {
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px;
    border: none;
    color: white;
}

.secondary-button {
    border-radius: 46px;
    background: none;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 6px 18px;
    border: 2px solid white;
    color: white;
}

.section-info {
    max-width: 47%;
}
.section-title{
    font-size: 3rem;
}
.section-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 14px 0px;
}
/* header styles are here */
.header {
    background: linear-gradient(180.00deg, rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1), rgba(119.41169738769531, 119.41169738769531, 119.41169738769531, 0) 100%);
}

.navbar {

    /* padding: 60px 190px; */
    padding: 60px 0px;
    align-items: center;
    justify-content: space-between;
}

#bar3 {
    display: none;
}

.nav-links {
    align-items: center;
    gap: 47px;
    padding: 5px 20px 5px 5px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link {
    list-style: none;

}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

.brand {
    color: rgba(230, 83, 60, 1);
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.banner-content {
    max-width: 520px;
    padding: 76px 0px;
}

.banner-title {
    font-size: 4.8rem;
    color: white;
}

.banner-description {
    color: white;
    opacity: 0.5;
    margin: 28px 0px;
}

#shape {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
}

.banner-side {
    height: 580px;
    display: flex;
    align-items: flex-end;
    background-image: url('../images/Images2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-button {
    display: flex;
    gap: 14px;
}

.video-card-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.video-card-subtitle {
    color: rgba(239, 237, 232, 0.65);

}

.red-dot {
    width: 40px;
    height: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
}

.video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* padding: 10px 15px; */
    height: 100px;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}


#card1 {

    position: relative;
    top: -70px;
    right: 60px;
}

#card2 {

    position: relative;
    top: -300px;
    right: -55px;
}

/* habit section starts here */
    .habits .section-info{
        margin: 0 auto;
        text-align: center;
    }
    .habit-card-container{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 230px);
        gap: 40px;
        margin-top: 58px;
    }
    .habit-card img{
        border-radius: 100px;
    }
    .habit-card{
        text-align: center;
    }
    .habit-card-title{
        font-size: 1.1rem;
        margin: 30px 0px 6px;
        
    }
    .habit-card-description{
        color: rgba(255, 255, 255, 0.5);
    }
/* Responsive media query starts here */
@media screen and (max-width:576px) {
    .container {
        max-width: 90%;
    }

    .navbar {
        padding: 20px 0px;
    }

    .nav-links {
        display: none;
    }

    #bar3 {
        display: block;
    }

    .banner{
        flex-direction: column;
    }

    .banner-content {
        padding: 20px 0px;
    }

    .banner-side {
        height: 450px;
        background-position: bottom center;
        /* background-size: civer; */
    }

    .banner-title {
        font-size: 2.25rem;
        color: white;
        max-width: 80%;
    }
    .banner-description{
        max-width: 80%;
    }
    #club {
        display: none;
    }

    #card1 {
        width: 150px;
        height: 75px;
        font-size: 1rem;
        position: relative;
        top: -50px;
        right: -20px;

    }

    #card1 .video-card-title {
        font-size: 1.1rem;
    }

    #card1 .video-card-subtitle {
        font-size: 0.7rem;
    }

    .red-dot {
        width: 30px;
        height: 30px;
    }


    #card2 {
        width: 145px;
        height: 75px;
        position: relative;
        top: -320px;
        right: -40px;
    }

    #card2 .video-card-title {
        font-size: 1.8rem;

    }

    #card2 .video-card-subtitle {
        font-size: 0.5rem;
    }
    .section-info{
        max-width: 90%;
    }
    .section-title{
        font-size: 2rem;
    }
    .habit-card-container{
        grid-template-columns: 1fr;
    }
}