* {
    margin: 0px;
    padding: 0px;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style are here */
body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
main section{
    margin-bottom: 100px;
}
.display-flex {
    display: flex;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.primary-button {
    border-radius: 46px;
    background: rgba(230, 83, 60, 1);
    font-weight: 600;
    font-size: 1.125rem;
    padding: 8px 20px;
    border: none;
    color: white;
}

.secondary-button {
    border-radius: 46px;
    background: none;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 6px 18px;
    border: 2px solid white;
    color: white;
}

.section-info {
    max-width: 47%;
}
.section-title{
    font-size: 3rem;
}
.section-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 14px 0px;
}
.center{
    margin: 0px auto;
}
/* header styles are here */
.header {
    background: linear-gradient(180.00deg, rgba(17.411699295043945, 17.411699295043945, 17.411699295043945, 1),rgba(119.41169738769531, 119.41169738769531, 119.41169738769531, 0) 100%);
}

.navbar {

    /* padding: 60px 190px; */
    padding: 60px 0px;
    align-items: center;
    justify-content: space-between;
}

#bar3 {
    display: none;
}

.nav-links {
    align-items: center;
    gap: 47px;
    padding: 5px 20px 5px 5px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-link {
    list-style: none;

}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

.brand {
    color: rgba(230, 83, 60, 1);
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.banner-content {
    max-width: 520px;
    padding: 76px 0px;
}

.banner-title {
    font-size: 4.8rem;
    color: white;
}

.banner-description {
    color: white;
    opacity: 0.5;
    margin: 28px 0px;
}

#shape {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
}

.banner-side {
    height: 580px;
    display: flex;
    align-items: flex-end;
    background-image: url('../images/images2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-button {
    display: flex;
    gap: 14px;
}

.video-card-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.video-card-subtitle {
    color: rgba(239, 237, 232, 0.65);

}

.red-dot {
    width: 40px;
    height: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
}

.video-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* padding: 10px 15px; */
    height: 100px;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}


#card1 {

    position: relative;
    top: -70px;
    right: 60px;
}

#card2 {

    position: relative;
    top: -300px;
    right: -55px;
}

/* habit section starts here */
    .habits .section-info{
        margin: 0 auto;
        text-align: center;
    }
    .habit-card-container{
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4, 230px);
        gap: 40px;
        margin-top: 58px;
    }
    .habit-card img{
        border-radius: 100px;
    }
    .habit-card{
        text-align: center;
    }
    .habit-card-title{
        font-size: 1.1rem;
        margin: 30px 0px 6px;
        
    }
    .habit-card-description{
        color: rgba(255, 255, 255, 0.5);
    }
    /* Exercise part starts here */

    .exercise .section-info{
        text-align: center;
    }
    .exercise-container{
        margin-top: 60px;
        display: flex;
        gap: 30px;
        justify-content: center;
    }
    .exercise-card img{
        width: 300px;
        border-radius: 8px 8px 0px 0px;
    }
    .exercise-card{
        width: 300px;
        background-color: rgba(255,255,255,0.1);
        padding: 16px;
        border-radius: 16px;
        margin: 0 auto;
    }
    /* extra mile section starts here */
    .extra-mile-card{
        border-radius: 16px;
        padding: 30px;
        background-color:rgba(34, 34, 34, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* justify-content: center; */
        gap: 165px;
    }
    .extra-mile-card img{
        border-radius: 16px;
        width: 380px;
        height: 330px;
        
        object-position: 67% 30%;
        object-fit: none;
    }
    .extra-mile-content{
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }
    .extra-mile-content .section-title{
        font-size: 3.5rem;
    }
    .extra-mile-content .section-description{
        margin-bottom: 32px;
    }

/*meet our team  starts here*/
.our-team .section-info{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 58px;
}
.team-card-container{
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 330px);
    gap: 20px;
}
.team-card{
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
    width: 330px;
    height: 270px;

}
.team-card-info{
    padding-left: 20px;
    padding-bottom: 20px;
}
.team-title{
    font-size: 1.25rem;
    margin-bottom: 3px;
    font-weight: 900;
}
.team-subtitle{
    color: rgba(255, 255, 255, 0.5);
}
#team-card1{
    background-image: url('../images/trainer1.png');
    background-size: cover;
}
#team-card2{
    background-image: url('../images/trainer2.png');
    background-size: cover;
}
#team-card3{
    background-image: url('../images/trainer3.png');
    background-size: cover;
    
}
#team-card4{
    background-image: url('../images/trainer4.png');
    background-size: cover;
    background-position: bottom left;
}
#team-card5{
    background-image: url('../images/trainer5.png');
    background-size: cover;
}
#team-card6{
    background-image: url('../images/trainer6.png');
    background-size: cover;
}
/* foooter realted design starts here */
.footer{
    background: rgba(255, 255, 255, 0.1);
    padding: 60px 0px 35px;
}
.footer .service-container a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    
}
.footer-col-container{
    display: flex;
    justify-content: space-between;
}
.footer-col{
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer .service-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-title{
    font-size: 4.4rem;
    font-weight: 900;
    color:rgba(230, 83, 60, 1);
    font-style: italic;
}
.footer-description{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}
.copyright{
    margin-top: 80px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    text-align: center;
    padding: 50px 0px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* BMI Calculator starts here----------------------------------------------------------------------- */
.bmi .section-info{
    margin-bottom: 80px;
}
.bmi-container{
    background: rgba(34, 34, 34, 1);
    padding: 50px 0px;
}
.bmi-col-container{
    display: flex;
    justify-content: space-between;
}
.bmi-calculator{
    max-width: 575px;
}
.bmi-col-title{
    font-size: 1.75rem;
}
.bmi-col-description{
    margin: 14px 0px 34px;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-col table{
    border-collapse: collapse;
    margin-top: 52px;
}
.bmi-col tr{
}
.bmi-col th, td{
    border: 2px solid rgba(255, 255, 255, 0.3);
    /* padding: 18px auto 18px 10px; */
    /* text-align: center; */
    padding-left: 10px;
    width: 150px;
    height: 42px;
    text-align: ;
    
}
.bmi-col th{
    font-weight: 500;
}
.bmi-col td{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap: 12px;

}
.input-field{
    padding: 12px 40px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.select-field{
    padding: 12px 20px 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
.bmi-form input, select{
    border-right: 5px solid transparent;
    /* width: calc(100% - 12px); */
    width: 100%;
    /* padding: 12px 40px 12px 20px; */
    background-color:transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    /* border-radius: 8px; */
}
.bmi-form input:focus{
    outline: none;
}
.bmi-form select:focus{
    /* color: rgba(255, 255, 255, 0.6); */
    outline: none;
}

.bmi-form input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.bmi .primary-button{
    padding: 16px 70px;
}
#activity{
    grid-column: span 2;
}
/* Responsive media query starts here ---------------------------------------------------------------*/


@media screen and (max-width:576px) {
    main section{
        margin-bottom: 50px;
    }
    .container {
        max-width: 90%;
    }

    .navbar {
        padding: 20px 0px;
    }

    .nav-links {
        display: none;
    }

    #bar3 {
        display: block;
    }

    .banner{
        flex-direction: column;
        margin-bottom: 0px;
    }

    .banner-content {
        padding: 20px 0px;
    }

    .banner-side {
        height: 450px;
        background-position: bottom center;
        /* background-size: civer; */
    }

    .banner-title {
        font-size: 2.25rem;
        color: white;
        max-width: 80%;
    }
    .banner-description{
        max-width: 80%;
    }
    #club {
        display: none;
    }

    #card1 {
        width: 150px;
        height: 75px;
        font-size: 1rem;
        position: relative;
        top: -50px;
        right: -20px;

    }

    #card1 .video-card-title {
        font-size: 1.1rem;
    }

    #card1 .video-card-subtitle {
        font-size: 0.7rem;
    }

    .red-dot {
        width: 30px;
        height: 30px;
    }


    #card2 {
        width: 145px;
        height: 75px;
        position: relative;
        top: -320px;
        right: -40px;
    }

    #card2 .video-card-title {
        font-size: 1.8rem;

    }

    #card2 .video-card-subtitle {
        font-size: 0.5rem;
    }
    .section-info{
        max-width: 90%;
    }
    .section-title{
        font-size: 2rem;
    }
    .habit-card-container,
    .team-card-container{
        grid-template-columns: 1fr;
    }
    .extra-mile-card{
        flex-direction: column;
        gap: 30px;
    }
    .extra-mile-content{
        max-width: 100%;
    }
    .extra-mile-content .section-title{
        font-size: 2rem;
    }
    .extra-mile-card img{
        border-radius: 16px;
        width: 280px;
        height: 170px;
        object-fit: cover;
    }
    .footer-col-container{
        flex-direction: column;
        gap: 30px;
    }
    .footer-col{
        max-width: 100%;
    }
    .bmi-col-container{
        flex-direction: column;
        gap: 40px;
    }
    .exercise-container{
        flex-direction: column;
    }
}